{% extends 'base.html' %}

{% block content %}
<!doctype html>
<html lang="ko">
 <head>

    <title>로그인</title>
 </head>
 <body>
     <h1>로그인화면</h1>

<div class="alert alert-success" role="alert">
    {{errMsg}}

</div>
    <form method = 'POST' action = "{% url 'login' %}">
        {% csrf_token %}
        <div class = "form-group">
            <label for="exampleInputEmail">아이디</label>
            <input type="text" class="form-control" name = "id" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
    <form method = 'POST' action = "{% url 'login' %}">
        {% csrf_token %}
        <div class = "form-group">
            <label for="exampleInputPassword">비밀번호</label>
            <input type="password" class="form-control" name = "pw" id="exampleInputPassword" placeholder="Password">
        </div>

        <button type="submit" class ="btn btn-primary">submit</button>
    </form>
 </body>

</html>

{% endblock %}






