{% extends 'navbar.html' %}

{% block contents %}

<div class="container">
    <h2>Login!</h2>
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        Username : <input type="text" name="username">
        <br>
        Password : <input type="password" name="password">
        <br>
        <input type="submit" value="Login">

    </form>
</div>

{% endblock %}





<!--
{% extends 'navbar.html' %}
{% block content2 %}
<!doctype html>
<html lang="ko">
 <head>

    <title>로그인</title>
 </head>
 <body>
     <<h1>로그인화면</h1>

<div class="alert alert-success" role="alert">
    {{errMsg}}

</div>
    <form method = 'POST' action = "{% url 'login_func %}">
        {% csrf_token %}
        <div class = "form-group">
            <label for="exampleInputEmail">id</label>
            <input type="text" class="form-control" name = "id" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
    <form method = 'POST' action = "{% url 'login_func %}">
        {% csrf_token %}
        <div class = "form-group">
            <label for="exampleInputPassword">Password</label>
            <input type="password" class="form-control" name = "pw" id="exampleInputPassword" placeholder="Password">
        </div>
        
        <button type="submit" class ="btn btn-primary">submit</button>
    </form>
 </body>

</html>
{% endblock %}
-->