{% load static %}
<!doctype html>
<html lang="ko">
 <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    -->
    <!-- pybo CSS 
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"> -->
    <title>Warehouse management system subgroup1</title>
 </head>
 <body>
        <nav class ="navbar navbar-expand-lg navbar-light bg-light"></nav>
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler"type="button" data-toggle = "collapse" data-target="#navbarSupportedContent" aria-controls = "navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapes" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item activate">
                        <a clas="nav-link"href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                    {% if check == 1 %}
                    <a class="nav-link"href="{% url 'logout' %}">Logout</a>
                    
                    {% else %}
                    <a class="nav-link"href="{% url 'login' %}">Login</a>
                    

                    {% endif %}
                    </li>

                    <li class="nav-item">
                    <a class="nav-link"href="{% url 'free' %}">Free</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdwon
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item"href="#">Action</a>
                            <a class="dropdown-tiem"href="#">Another action</a>
                            <div class="dropdwon-divider"></div>
                            <a class="dropdown-item"href="#">Something else here</a>    
                        </div>
                    </li>

                </ul>
                <form class="form-inline my2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder ="Search" aria-label="Search">
                    <button class="btn btn-outline-success my2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
        {% block content %}
        {% endblock %}



