{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="alert alert-success" role="alert">
        {{errMsg}}
    <form name="test" action="" method="post">{% csrf_token%}
        ID : <input type = "text" name="accountid" > </br>
        PW : <input type = "text" name="password"></br>
        PW_conf : <input type = "text" name="password_conf"></br>
        position : <input type = "text" name= "position"></br>
        name : <input type = "text" name= "name"></br>
        address : <input type = "text" name= "address"></br>
        <input type="submit" value="전송">
    </form>
</body>
</html>


{% endblock %}